body {
  margin: auto 0;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  color: white;
}
.nav > a {
  margin-right: 25px;
}
.container {
  padding: 10px;
}
.nav {
  background-color: #6c63ff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-links {
  display: flex;
  width: 110px;
  justify-content: space-around;
}
.cover {
  display: flex;
  background-color: #fff;
  height: minmax(15rem, 75vb);
  justify-content: space-around;
  padding: 75px;
}
.heading {
  font-size: 7vw;
}
.grid {
  border-top: 15px solid #6c63ff;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.grid-item {
  border-radius: 30px;
  width: 200px;
  height: 200px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item:hover {
  scale: 1.1;
}
.footer {
  background-color: #6c63ff;
  text-align: center;
}
.cover-image {
  width: 75%;
  max-width: 40rem;
}
